        #logo {
            width: 80%;
            height: 100px;

        }

        img {
            position: relative;
        }

        nav {
            width: 80%;
        }

        #page {
            color: red;
        }

        .row {
            margin: 5px;
        }

        #picture {
            width: 80%;
            height: 900px;
        }
