
@{
    ViewBag.Title = "湯老爺火鍋";
}

<!-- Start WOWSlider.com HEAD section -->
<!-- add to the <head> of your page -->
<link rel="stylesheet" type="text/css" href="~/engine0/style.css" />
<!--script type="text/javascript" src="engine0/jquery.js"></script-->
<!-- End WOWSlider.com HEAD section -->
<!-- Start WOWSlider.com HEAD section -->
<!-- add to the <head> of your page -->
<link rel="stylesheet" type="text/css" href="~/engine0/style.css" />
<!--script type="text/javascript" src="engine0/jquery.js"></script-->
<!-- End WOWSlider.com HEAD section -->
<!-- Start WOWSlider.com HEAD section -->
<!-- add to the <head> of your page -->
<link rel="stylesheet" type="text/css" href="~/engine0/style.css" />
<!--script type="text/javascript" src="engine0/jquery.js"></script-->
<!-- End WOWSlider.com HEAD section -->


<div class="row mx-auto">
    <!-- Start WOWSlider.com BODY section -->
    <!-- add to the <body> of your page -->
    <div id="wowslider-container0">
        <div class="ws_images">
            <ul>
                <li><img src="~/data0/images/carousel2.jpg" alt="Carousel2" title="Carousel2" id="wows0_0" /></li>
                <li><img src="~/data0/images/carousel3.jpg" alt="Carousel3" title="Carousel3" id="wows0_1" /></li>
                <li><a href="http://wowslider.net"><img src="~/data0/images/carousel4.jpg" alt="slideshow javascript" title="Carousel4" id="wows0_2" /></a></li>
                <li><img src="~/data0/images/carousel5.jpg" alt="Carousel5" title="Carousel5" id="wows0_3" /></li>
            </ul>
        </div>
        <div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">slider jquery</a> by WOWSlider.com v8.8</div>
        <div class="ws_shadow"></div>
    </div>
    <script type="text/javascript" src="~/engine0/wowslider.js"></script>
    <script type="text/javascript" src="~/engine0/script.js"></script>
    <!-- End WOWSlider.com BODY section -->

</div>

