
@{
    ViewBag.Title = "湯老爺火鍋 - 會員登入";
}

<h2>會員登入</h2>

<form action="" method="post">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <span class="control-label col-md-2">帳號</span>
            <div class="col-md-4">
                <input type="text" id="fMemberUserID" name="fMemberUserID" required="required" class="form-control" value="" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">密碼</span>
            <div class="col-md-4">
                <input type="password" id="fMemberPassword" name="fMemberPassword" required class="form-control" value="" />
            </div>
        </div>


        <div class="form-group">
            <span class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" name="name" value="登入" />
                <a class="btn btn-info" href="/Home/Register">註冊</a>

            </span>
        </div>
    </div>
</form>


